html {
  overflow:auto; 
}
body,html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

#svgintro  {
  background: black;
}

/* make sure inner elements can't be hovered */
#svgintro  * {
  pointer-events: none;
}


#svgintro .linea {
  stroke: #ff0000;
}

#svgintro text {
  fill: #ff0000;
  font-size:.6rem;
}

#svgintro #logo, #svgintro #godown {
  opacity:0;
}

#container {
  width: 36vw;
  margin: 0 auto;
  padding-top: 70px;
  line-height: 1.3rem;
}

#stickyheader {
  width:100%;
  padding:15px 15px;  
  background:black;
  /*transition: .3s all ease-out;*/
  transform: translate(0, -130%);
  /*opacity:0;*/
  position: fixed;
  top:0;
}

#stickyheader.show {
  opacity:1;
  transform:translate(0, 0);
}

#stickyheader img{
  /*transition: .3s all ease;*/
  /*transform:translate(-130%, 0);*/
}

#stickyheader img.show{
  transform:translate(0, 0);
}


@media only screen 
and (max-device-width : 800px) {
  #container {
    width:90vw;
  }
}